<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body> 
        {{> header}}

        <h3>List Of Projects</h3>
        <ul>
            {{#each projects}}
                <li><a href='{{this.url}}'>{{this.name}}</a></li>
            {{/each}}
        </ul>
        

        {{> footer}}
    </body>
</html>